body {
  background: lightpink;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid lavenderblush;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: lavenderblush;
}

a:visited {
	color: magenta;
}


input {
	display: block;
}

img {
	max-width: 300px;
	border-radius: 50%;
}

body{
	color: purple
}

#color{
	background-color:aquamarine;
}

#place{
	background-color: aquamarine;
}

#ritual{
	background-color: aquamarine;
}

.buttons{
	color: aquamarine;
	text-decoration: pink;
	width: 100px;
	display: block;
	padding: 14px 28px;
	font-size: 16px;
	border-radius: 50%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}